/* Styles for contacts page */
.company-address {
  margin-bottom: 30px;
}

.contacts-list {
  list-style: none;
  padding-left: 5px;
}

.contacts-list-item {
  margin-bottom: 10px;
}

.contacts-list-text {
  font-style: normal;
}

.feedback-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback-form-heading {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
          align-self: center;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.feedback-form-input {
  margin-bottom: 15px;
}

.feedback-form-textarea {
  margin-bottom: 5px;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  margin-bottom: 15px;
}

.feedback-form-checkbox {
  margin-right: 5px;
}