/* Common styles */
body {
  background-color: #ead9bf;
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

p {
  line-height: 1.3;
}

section {
  padding: 10px 10px 10px 10px;
}

textarea {
  resize: none;
}

.page-main-heading {
  text-align: center;
  color: #9f1d19;
}

.article {
  padding: 10px 10px;
}

.article-heading {
  font-size: 1.3em;
  color: #9f1d19;
  margin-bottom: 5px;
}

.article-preview {
  margin-bottom: 40px;
}

.article-preview-paragraph,
.article-preview-link {
  font-size: 0.9em;
}

.article-preview-paragraph {
  margin-top: 10px;
}

.article-preview-paragraph {
  margin-bottom: 5px;
}

.article-image {
  float: left;
  margin-right: 15px;
  width: 200px;
  height: auto;
}

.article-list-item {
  margin-bottom: 15px;
}
/* End common styles */

/* Begin Header styles */

/* Aside images */
.aside-image-section {
  position: absolute;
  width: 345px;
  height: 300px;
}

.left-aside-image {
  background: url(../images/left_img.png) no-repeat;
  top: 0;
  left: 0;
}

.right-aside-image {
  background: url(../images/right_img.png) no-repeat;
  top: 0;
  right: 0;
}

.logo-section {
  width: 315px;
  padding-top: 10px;
}

.main-header,
.logo-section {
  margin: 0 auto;
}

.logo-image {
  margin-left: 15px;
}

/* Main menu styles */
.main-menu {
  position: relative;
  width: 48%;
  margin: 0 auto;
}

.main-menu-list {
  padding-left: 0;
}

.main-menu-item {
  width: 170px;
  list-style: none;
  position: relative;
  margin-bottom: 10px;
}

.main-menu-item:nth-child(1) {
  left: 82px;
}

.main-menu-item:nth-child(2) {
  left: 47px;
}

.main-menu-item:nth-child(3) {
  left: 12px;
}

.main-menu-item:nth-child(4) {
  top: -105px;
  right: -400px;
}

.main-menu-item:nth-child(5) {
  top: -70px;
  right: -435px;
}

.main-menu-item:nth-child(6) {
  top: -35px;
  right: -470px;
}

.main-menu-item-link {
  display: inline-block;
  text-decoration: none;
  width: 170px;
  height: 25px;
  background-color: #f1e6d6;
}

.left-side-main-menu-item-link {
  -webkit-transform: skew(-45deg);
      -ms-transform: skew(-45deg);
          transform: skew(-45deg);
  -webkit-box-shadow: 7px 3px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 7px 3px 3px rgba(0, 0, 0, 0.5);
}

.right-side-main-menu-item-link {
  position: absolute;
  -webkit-transform: skew(45deg);
      -ms-transform: skew(45deg);
           transform: skew(45deg);
  -webkit-box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.4);
}

.main-menu-item-title {
  width: 170px;
  display: inline-block;
  color: #940000;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding-top: 3px;
}

.main-menu-item-title:hover {
  font-size: 15px;
}

.left-side-main-menu-item-title {
  -webkit-transform: skew(45deg);
      -ms-transform: skew(45deg);
          transform: skew(45deg);
  background: url(../images/rubin.png) no-repeat 95% 50%;
}

.right-side-main-menu-item-title {
  -webkit-transform: skew(-45deg);
      -ms-transform: skew(-45deg);
          transform: skew(-45deg);
  background: url(../images/rubin.png) no-repeat 8% 50%;
  padding-left: 35px;
}

/* Main-menu for small screens */
.main-menu-small-screens {
  display: none;
}

.main-menu-small-screens-list {
  padding-left: 0;
}

.main-menu-small-screens-item {
  list-style: none;
  display: inline-block;
  margin-bottom: 10px;
}

.company-phones-section {
  position: absolute;
  top: 15px;
  left: 254px;
}

.company-phones-section__small-screens {
  display: none;
}

.company-phones-list {
  padding-left: 0;
}

.company-phones-item {
  list-style: none;
  margin-bottom: 5px;
}

.company-phone-link {
  font-weight: bold;
  cursor: default;
}

.language-choose-section,
.language-list-item {
  display: inline-block;
}

.language-choose-section {
  margin-left: 23%;
  visibility: hidden; /* Make it visible when multi-language will done*/
}

.language-list-item {
  list-style: none;
  margin-right: 5px;
  width: 20px;
}

.language-list-item-link {
  text-decoration: none;
  color: #544941;
  font-size: 14px;
}

.language-list-item-link:hover,
.language-list-item-link:focus {
  font-weight: bold;
}

.experience-slogan {
  margin-left: 10%;
  color: #9F1D19;
  font-weight: bold;
  font-size: 14px;
}
/* End header styles */

/* Begin page content styles */
.page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-height: calc(100vh - 70px);
  margin-bottom: 20px;
}

.layout-main-content-block {
  width: 65%;
}

.firm-structure-section-heading {
  text-align: center;
}

.layout-two-in-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;          
      align-items: stretch;
}

.structure-department-section,
.news-section-preview,
.promo-actions-section-preview {
  width: 50%;
}

.structure-department-section {
  margin-bottom: 25px;
}

.structure-department-section-heading {
  font-size: 1.1em;
}

.activity-link {
  font-weight: bold;
}

.activity-reglament {
  font-weight: bold;
}

.news-section-heading,
.promo-actions-section-heading {
  padding-left: 20px;
  background: url(../images/rubin.png) no-repeat 0 50%;
}

.preview-card {
  background-color: #f1e6d6;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  height: 280px;
  max-height: 280px;
  overflow: auto;
  padding: 0 15px 0 15px;
  margin-bottom: 10px;
}

.preview-card-heading {
  font-size: 0.9em;
  color: #575757;
}

.preview-card-content {
  font-size: 0.8em;
  color: #575757;
  line-height: 1.4;
}

.preview-card-link {
  font-size: 0.8em;
}

.layout-aside-block {
  width: 35%;
}

/* Tables for price page */
.table {
  width: 100%;
}

/* Aside image-menu */
.aside-menu {
  position: relative;
}

.aside-menu-list {
  padding-left: 0; 
}

.aside-menu-item {
  display: inline-block;
  list-style: none;
  position: relative;
}

.aside-menu-item:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
}

.companies-security-item {
  bottom: 161px;
  right: -3px;
}

.agro-companies-security-item {
  bottom: 266px;
  right: -110px;
}

.cargo-security-item {
  bottom: 369px;
  right: -8px;
}

.security-audit {
  bottom: 474px;
  right: -113px;
}

.video-surveillance-systems-item {
  bottom: 160px;
  right: -105px;
}

.control-systems-item {
  bottom: 263px;
  right: -1px;
}

.security-alarm-item {
  bottom: 368px;
  right: -107px;
}

.data-protection-item {
  bottom: 472px;
  right: -5px;
}
/* End Aside image-menu */

/* Text aside menu */
.text-aside-menu {
  display: none;
  margin-bottom: 50px;
}

.text-aside-menu-item {
  list-style: none;
  margin-bottom: 10px;
  font-weight: bold;
}
/* End Text aside menu */

.activities-aside-container {
  position: relative;
  top: -450px;
}

.main-activities-aside-link {
  display: inline-block;
  font-weight: bold;
  padding-left: 20px;
  position: relative;
  z-index: 1;
}

.activities-list {
  padding-right: 25px;
}

.activities-list-item {
  margin-bottom: 15px;
}

/* Footer */
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
}

.footer-text-information {
  font-size: 12px;
  font-weight: bold;
  padding: 0 15px;
}

.text-color-accent {
  color: #940000;
}

/* Media queries */
@media (min-width: 1680px) {
  .main-menu {
    width: 39%;
  }
  .experience-slogan {
    margin-left: 13%;
  }

  .activities-aside-container {
    top: -12px;
  }

  .agro-companies-security-item {
    bottom: 56px;
    right: 98px;
  }

  .cargo-security-item {
    bottom: 159px;
    right: -9px;
  }
  .security-audit {
    bottom: 55px;
    right: 95px;
  }

  .control-systems-item {
    bottom: 55px;
    right: 210px;
  }
  
  .security-alarm-item {
    bottom: 160px;
    right: -105px;
  }

  .data-protection-item {
    bottom: 54px;
    right: 206px;
  }
}

@media (max-width: 1230px) {

  .logo-image {
    margin-left: 0;
  }
  .main-menu {
    width: 57%;
  }

  .experience-slogan {
    margin-left: 5%;
  }

  .aside-menu {
    display: none;
  }
  
  .text-aside-menu {
    display: block;
  }

  .activities-aside-container {
    top: 0;
  }
}

@media (max-width: 1115px) {
  .main-menu {
    width: 62%;
  }
}

@media (max-width: 960px) {
  .logo-image {
    margin-left: 0;
  }

  .main-menu {
    width: 77%;
  }

  .experience-slogan {
    margin: 0 auto;
  }
}

@media (max-width: 890px) {
  .left-aside-image,
  .right-aside-image {
    display: none;
  }

  .page-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .layout-two-in-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .structure-department-section,
  .promo-actions-section-preview,
  .news-section-preview {
    width: auto;
  }
}

@media (max-width: 790px) {
  .main-menu {
    width: 87%;
  }
}

@media (max-width: 740px) {
  .main-menu {
    width: 95%;
  }
}

@media (max-width: 700px) {
  .main-menu {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .main-menu {
    display: none;
  }

  .main-menu-small-screens {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 11%;
  }

  .experience-slogan {
    margin-left: -10%;
  }
}

@media (max-width: 650px) {
  .layout-main-content-block {
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .layout-aside-block {
    width: 50%;
  }
}

@media (max-width: 589px) {
  .layout-aside-block {
    width: 100%;
  }

  .main-menu-item-link {
    height: 48px;
    padding-top: 13px;
  }

  .company-phones-section {
    display: none;
  }

  .main-menu-small-screens {
    margin-left: 20%;
  }

  .company-phones-section__small-screens {
    display: block;
    width: calc(100% - 70%);
    margin: 0 auto;
  }

  .language-choose-section {
    margin-left: 35%;
  }

  .experience-slogan {
    display: flex;
    margin-left: 30%;
  }
}

@media (max-width: 510px) {
  .company-phones-section__small-screens {
    display: block;
    width: calc(100% - 65%);
    margin: 0 auto;
  }
}

@media (max-width: 435px) {
  .main-menu-small-screens {
    margin-left: 8%;
  }

  .company-phones-section__small-screens {
    display: block;
    width: calc(100% - 60%);
    margin: 0 auto;
  }

  .language-choose-section {
    margin-left: 29%;
  }

  .experience-slogan {
    display: flex;
    margin-left: 20%;
  }
}

@media (max-width: 385px) {
  .main-menu-small-screens {
    margin-left: 4%;
  }

  .company-phones-section__small-screens {
    display: block;
    width: calc(100% - 58%);
    margin: 0 auto;
  }
}

@media (max-width: 360px) {
  .main-menu-small-screens {
    margin-left: 26%;
  }
}

@media (max-width: 320px) {
  .main-menu-small-screens {
    margin-left: 23%;
  }

  .company-phones-section__small-screens {
    display: block;
    width: calc(100% - 52%);
    margin: 0 auto;
  }
}