.table {
  margin-bottom: 30px;
}

.table-headings {
  font-size: 0.9em;
  font-weight: bold;
  background: #cccccc;
}

.table-determine {
  border: 1px solid #000000;
  font-size: 0.8em;
  padding: 5px 5px;
}